recursive-include honeybee_grasshopper_core/user_objects *.ghuser
recursive-exclude honeybee_grasshopper_core/json *.json
recursive-exclude honeybee_grasshopper_core/icon *.png
recursive-exclude samples *
recursive-exclude .github *
exclude .gitignore
exclude .releaserc.json
exclude deploy.sh
